<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Colafix </title>

    <meta name="theme-color" content="#ffffff" />
    <meta name="background_color" content="#ffffff" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
    <meta name="application-name" content="#ffffff" />

    <meta name="description" content="Colafix" />
    <meta name="keywords" content="Colafix" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="shortcut icon" href="~/favicon.ico">
    <link rel="manifest" href="~/manifest.json">

    <link rel="apple-touch-icon" sizes="57x57" href="~/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/icons/favicon-16x16.png">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
    <link href="~/lib/notiflix/notiflix-1.9.1.min.css" rel="stylesheet" />
    <link href="~/css/materialize.css" type="text/css" rel="stylesheet" media="screen, projection" />
    <link href="~/css/app.css" rel="stylesheet" />
    
    @RenderSection("Style", required: false)

    <style>
        #container {
            position: absolute;
            color: white;
            background-color: #ffffff;
            width: 100%;
            height: 200px;
            top: 0;
            bottom: 0;
        }

        #content {
            background: white;
            position: relative;
            float: left;
            top: 50%;
            left: 50%;
            padding: 20px 20px 40px;
            border-radius: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">@ViewData["Title"]</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/Menu">Menu</a></li>
                <li><a href="#" onclick="OpenMenu('Clientes')">Clientes</a></li>
                <li><a href="#" onclick="OpenMenu('Pedidos')" >Consulta Pedidos</a></li>
@*                <li><a href="#">Financeiro</a></li>*@
                <li><a href="#" onclick="LimparCarrinho()">Limpar Carrinho</a></li>
                <li><a href="#" onclick="Sair()">Logout</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav" style="padding-top: 200px;">
                <li>
                    <div id="container">
                        <div id="content">
                            <img src="~/images/icons/ms-icon-150x150.png">
                        </div>
                    </div>
                </li>
                <li><a href="/Menu"><i class="material-icons">dehaze</i>Menu</a></li>
                <li><a href="#" onclick="OpenMenu('Clientes')"><i class="material-icons">group</i>Clientes</a></li>
                <li><a href="#" onclick="OpenMenu('Pedidos')"><i class="material-icons">local_library</i>Consulta Pedidos</a></li>
@*                <li><a href="#"><i class="material-icons">local_atm</i>Financeiro</a></li>*@
                <li><a href="#" onclick="LimparCarrinho()"><i class="material-icons">group</i>Limpar Carrinho</a></li>
                <li><a href="#" onclick="Sair()"><i class="material-icons">power_settings_new</i>Logout</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    @*corpo da página*@
    <div class="container">
        <div class="section">
            @RenderBody()
        </div>
        <footer class="light-blue lighten-1">
            <div style="float: left; width: 50px; height: 100%" onclick="AddRemoveCli(null, null)">
                <i id="cliIcon" class="material-icons" style="font-size: 35px; padding-top: 7px">person_add</i>
            </div>
            <div style="float: left; text-align: left; height: 100%">
                <p>Cliente selecionado</p>
                <label id="currentCliName">Nenhum cliente selecionado</label>
            </div>
            <div id="cartIcon" style="position: fixed; width: 50px; height: 100%; right: 0; display: none" onclick="RedirectAction('/CheckOut')">
                <i class="material-icons" style="font-size: 35px; padding-top: 7px">shopping_cart</i>
            </div>
            <div id="finishIcon" style="position: fixed; width: 50px; height: 100%; right: 0; display: none" onclick="FinishCheckOut()">
                <i class="material-icons" style="font-size: 35px; padding-top: 7px">monetization_on</i>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/notiflix/notiflix-1.9.1.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/materialize.js"></script>
    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/init.js"></script>
    <script src="~/js/app.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
