@page
@using colafix_pwa.Model
@model colafix_pwa.Pages.ClientesModel
@{
    List<Cli> clientes = (List<Cli>)ViewData["Clientes"];
}

<div class="row pt-6">
    <div class="row">
        <div class="col-12" align="left">
            <label class="pt-10">Pesquisa por Nome do Cliente</label>
        </div>
        <div class="col-9" align="left">
            <input type="text" name="cli" id="cli" class="form-control" value="" />
        </div>
        <div class="col-3" align="left">
            <button class="btn waves-effect waves-light" onclick="buscarAdmin(cli.value)">
                OK
            </button>
        </div>
    </div>
</div>

<div id="dados">
    @*<div class="row pt-6">
            @foreach (var cliente in clientes)
            {
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <b>Código: </b>@cliente.Id <b>Nome: </b>@cliente.Nome
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <b>Fone: </b> @cliente.Fone
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <b>Endereço: </b> @cliente.Endereco
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <b>CEP: </b> @cliente.Cep
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <b>Bairro: </b> @cliente.Bairro
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <b>Cidade: </b> @cliente.Cidade
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn waves-effect waves-light" type="button" onclick="AddRemoveCli(@cliente.Id, '@cliente.Nome')">Selecionar</button>
                        </div>
                    </div>
                </div>
            }
        </div>*@
</div>
@section Scripts
{
    <script>
        $(document).ready(function(){
            ShowCurrentCli();
            if (currentUser.admin != "1") {
                buscar("");
            }
        });


    function buscar(obj) {
        var x = obj;
        var html = "";
        html = `<div class="row">
            <div class="row">
                @foreach (var cliente in clientes)
                {
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <b>Código: </b>@cliente.Id <b>Nome: </b>@cliente.Nome<br>
                                <b>CNPJ/CPF: </b>@cliente.CpfCnpj
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <b>Fantasia: </b> @cliente.NomeFantasia
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <b>Fone: </b> @cliente.Fone
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <b>Endereço: </b> @cliente.Endereco
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <b>CEP: </b> @cliente.Cep
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <b>Bairro: </b> @cliente.Bairro
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <b>Cidade: </b> @cliente.Cidade
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn waves-effect waves-light" type="button" onclick="AddRemoveCli(@cliente.Id, '@cliente.Nome')">Selecionar</button>
                            </div>
                        </div>
                    </div>
                }
            </div>`
        html += '</div>'
        document.getElementById('dados').innerHTML = html;
    }

    function buscarAdmin(obj) {
        console.log(currentUser.admin);
        if (currentUser.admin != "1") {
            $(".card").each(function () {
                console.log("aqui");
                var resultado = $(this).text().toUpperCase().indexOf(' ' + obj.toUpperCase());
                if (resultado < 0) {
                    $(this).fadeOut();
                } else {
                    $(this).fadeIn();
                }
            });
        } else {

            var x = obj;
            var html = "";
            html = `<div class="row pt-6">`

            const o = new Object();
            o.nome = obj;
            $.ajax({
                context: this,
                url: "/Main/GetCliForAdminLista",
                type: "POST",
                data: BuildData(o),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    Notiflix.Loading.Dots("Aguarde...");
                },
                success: function (data) {
                    Notiflix.Loading.Remove();
                    const returnData = JSON.parse(data);
                    console.log(returnData);
                    if (returnData.MessageType !== 0) {
                        ShowMessage(data);
                        return;
                    }
                    for (let d = 0; d < returnData.EmbeddedData.length; d++) {
                        html += `<div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <b>Código: </b>${returnData.EmbeddedData[d].id} <b>Nome: </b>${returnData.EmbeddedData[d].nome}<br>
                            <b>CNPJ/CPF: </b>${returnData.EmbeddedData[d].cpfCnpj}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <b>Fone: </b> ${returnData.EmbeddedData[d].fone}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <b>Endereço: </b> ${returnData.EmbeddedData[d].endereco}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <b>CEP: </b> ${returnData.EmbeddedData[d].cep}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <b>Bairro: </b> ${returnData.EmbeddedData[d].bairro}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <b>Cidade: </b> ${returnData.EmbeddedData[d].cidade}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn waves-effect waves-light" type="button" onclick="AddRemoveCli(${returnData.EmbeddedData[d].id}, '${returnData.EmbeddedData[d].nome}')">Selecionar</button>
                        </div>
                        </div>
                    </div>`
                    }
                    html += '</div>'
                    document.getElementById('dados').innerHTML = html;
                },
                error: function (data) {
                    Notiflix.Loading.Remove();
                    ShowError(data);
                }
            });
        }
    }

    function cpfCnpj(v){
 
        //Remove tudo o que não é dígito
        v=v.replace(/\D/g,"")
 
        if (v.length <= 14) { //CPF
 
            //Coloca um ponto entre o terceiro e o quarto dígitos
            v=v.replace(/(\d{3})(\d)/,"$1.$2")
 
            //Coloca um ponto entre o terceiro e o quarto dígitos
            //de novo (para o segundo bloco de números)
            v=v.replace(/(\d{3})(\d)/,"$1.$2")
 
            //Coloca um hífen entre o terceiro e o quarto dígitos
            v=v.replace(/(\d{3})(\d{1,2})$/,"$1-$2")
 
        } else { //CNPJ
 
            //Coloca ponto entre o segundo e o terceiro dígitos
            v=v.replace(/^(\d{2})(\d)/,"$1.$2")
 
            //Coloca ponto entre o quinto e o sexto dígitos
            v=v.replace(/^(\d{2})\.(\d{3})(\d)/,"$1.$2.$3")
 
            //Coloca uma barra entre o oitavo e o nono dígitos
            v=v.replace(/\.(\d{3})(\d)/,".$1/$2")
 
            //Coloca um hífen depois do bloco de quatro dígitos
            v=v.replace(/(\d{4})(\d)/,"$1-$2")
 
        }
 
        return v
 
    }

    </script>
}
