@page
@using colafix_pwa.Model
@model colafix_pwa.Pages.RegistroEntregaModel
@{
    var entregas = (List<Entrega>)ViewData["Entregas"];
    var entregasDias = entregas.GroupBy(s => new { s.DataCurta }).Select(s => s.First());
    //   var entregasDias = from entrega in entregas group entrega by entrega.DataCurta;
}
@section Style{
    <style>
    </style>
}
<div class='row pt-6' style='margin-bottom:0'>
    @foreach (var dataEntrega in entregasDias)
    {
        <div class="col-sm-12">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">remove_red_eye</i>Entregas em @dataEntrega.DataCurta&nbsp;</div>
                    @{
                        var dias = entregas.Where(n => n.DataCurta == dataEntrega.DataCurta);
                        @foreach (var dia in dias)
                        {
                            var destination = "https://www.google.com/maps?q=" + dia.Latitude + "," + dia.Longitude;
                        //    var comprovante = "http://www.4approach.com.br/colafix/comprovantes/modelo.jpeg";
                            var comprovante = "http://www.4approach.com.br/colafix/comprovantes/"+dia.NumeroNota+".png";
                            <div class="verificar collapsible-body" id="@dia.NumeroNota">
                                <p><b>Cliente: </b>@dia.CodCliente - @dia.NomeCliente </p>
                                <span onclick=""><b>Nota: </b> @dia.NumeroNota </span>
                                <b> Hora Entrega: </b> @dia.DataEntrega.Substring(11,5)
                                <p><b> Placa: </b> @dia.PlacaVeiculo
                                <a href="@destination" target="_blank">Local da Entrega - </a>
                                <a href="@comprovante" target="_blank">Comprovante de Entrega </a>
                                </p>
                            </div>
                        }
                    }
                </li>
            </ul>
        </div>
    }

</div>
@section Scripts
                                {
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
            ShowCurrentCli();
        });
    </script>
}

